 
  .dataLabels{
    font-weight: 600;
    font-size: 14px;
  }

  .legendLabel{
    font-size: 14px;
  }

  /* legend div */
#legend {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.legend--item {
  display: flex;
  padding-right: 40px;
  padding-bottom: 12px;
}

.legend--icon--circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: center;
  flex-shrink: 0;
}

.legendTopLabel{
  font-size: 14px;
}

/* legend div */
#legendTop {
display: flex;
flex-wrap: wrap;
padding-top: 10px;
}

.legendTop--item {
display: flex;
padding-right: 40px;
padding-bottom: 12px;
}

.legendTop--icon--circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: center;
  flex-shrink: 0;
}


/* a legend circle with a border for scatterplots */

.legendTop--icon--circle2 {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: center;
  flex-shrink: 0;
  border: 2px solid
}

.legendTop--icon--refline {
  height: 3px;
  width: 20px;
  align-self: center;
  flex-shrink: 0;
}

.legendTop--text {
  color: #707070;
  line-height: 14px;
  font-size: 14px;
  padding-left: 12px;
  margin: 0;
}


@media (max-width: 400px) {
  #legendTop {
    flex-flow: column;
  }

  .legendTop--item {
    padding-bottom: 8px;
  }
}

/* .legend--item {
  padding-bottom: 0px;
} */