.dataLabels{
  font-weight: 600;
  font-size: 14px;
}

.chart-container {
  display: inline-block;
  vertical-align: top;
}

.chart-container:last-child {
  margin-right: 0;
}



#legend{
  display: grid;
  align-items: center;
  padding-bottom: 20px;
}