.dataLabels{
  font-weight: 600;
  font-size: 14px;
}




line.refline {
  stroke: #222;
  stroke-width: 3px;
  stroke-linecap: round;
  forced-color-adjust: auto;
}

div.legend--item--here {
  display:flex;
  padding-right:40px;
  padding-bottom: 12px;
  margin-top: 12px;
}
