.grid line {
  stroke: var(--ons-color-grey-20);;
}

.chart-container {
  display: inline-block;
  vertical-align: top;
}

.chart-container:last-child {
  margin-right: 0;
}

.grid path.domain {
  display: none;
}
