.dropdown-container {
    display: inline-block;
    position: relative;
    font-family:'Open Sans', sans-serif;
    margin-left: 5px;
  }
  
  select {
    float: left;
    position: relative;
    margin: 2px 0;
    padding: 2px 0 0 5px;
    height: 36px;
    outline: 0;
    border: 2px solid #206095;
    color: #206095 ;
    font-size: 16px;
    font-weight:600px;
    line-height: 0;
    cursor: pointer;
font-family:    'Open Sans', sans-serif;
  }
  
  select:focus-visible {
    outline: 3px solid orange;
  }

  
  @media screen and (min-width: 400px) {
    /* body {
      background-color: lightgreen;
    } */
    select {
      width: 375px ;
        }
  }


  @media screen and (max-width: 399px) {
    /* body {
      background-color: lightgreen;
    } */
    select {
      width: 93vw;
        
    }
  }

  
select option:hover,
    select option:focus,
    select option:active {
        background: linear-gradient(#000000, #000000);
        background-color: #000000 !important; /* for IE */
        color: pur !important;
    }

    select option:checked {
        /* background: linear-gradient(#d6d6d6, #d6d6d6); */
        background-color: #206095 !important; /* for IE */
        color: #fff !important;
    }

  option:hover {
    background-color: purple;
  }

  .visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  .dropdown-container::before {
    height: 36px;
    width: 39px;
    position: absolute;
    z-index: 2;
    top: 2px;
    right: 0px;
    /* bottom: 2px; */
    background: #206095;
    content: '';
    pointer-events: none;
  }
  .dropdown-container::after {
    content: '';
    position: absolute;
    z-index: 2;
    right: 12px;
    margin: 16px 0 0 0;
    background: #206095;
    border-style: solid;
    border-width: 10px 8px 0 8px;
    border-color: #fff transparent transparent transparent;
    pointer-events: none;
  }