.grid line {
  stroke: #ccc;
  stroke-opacity: 0.7;
}

.grid .tick {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.chart-container {
  display: inline-block;
  vertical-align: top;
}

.chart-container:last-child {
  margin-right: 0;
}

.CI {
  forced-color-adjust: auto;
}

@media (forced-colors: active) {
  .CI {
    stroke-width: 3px;
  }
}