line.between{
  stroke:#c6c6c6;
  stroke-width:3px;
}

.dataLabels{
  font-weight: 600;
  font-size: 14px;
}

.legend--icon--diamond {
  height: 10px;
  width: 10px;
  align-self: center;
  transform: rotate(45deg);
  flex-shrink: 0;
}

.title {
  font-size: 14px;
  font-weight: 600;
  fill: #414042
}