div.chartLabel>p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

div#titles {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* buttons */
div#select{
    margin-bottom: 20px;
}

.legend--icon--circle{
    margin-right: 8px;
}