/* space between the plots */
div.plots{
    padding-bottom:20px;
}

/* styles for plot titles */
div.plots p.plot--title{
    font-weight: 700;
    margin-bottom:0;
}

div.column{
    padding-right:10px;
    display:inline-block
}

div.rowLabel{
    display: inline-block;
}

div.headers{
    margin-right: -10px;
    display: inline-block;
}

div.rowLabel span{
    font-size: 14px;
    color:#414042;
    text-align: right;
    vertical-align: middle;
    display:block;
    padding-right:10px;
    height:30px;
}

div.column span{
    font-weight: 600;
    font-size: 14px;
    color:#414042;
}

div.splitBar-inner--background{
    background: #ececec;
    height:30px;
    position: relative;
}


div.splitBar-row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* set the margin to 0 for the 2nd to last div so the zero is close */
div.chart div:nth-last-child(2) {
    margin-bottom: 0;
}

div.splitBar-bar--value{
    position:absolute;
    top:0;
    height:100%;
}

div.splitBar-bar--label{
    text-align: left;
    padding:0 5px;
    line-height: 27px;
}

div.splitBar-label{
    margin-bottom:10px;
}