line.between{
  stroke:#E5E6E7;
  stroke-width:3px;
}

div.legend--icon--diamond{
  height: 12px;
  width: 12px;
  align-self: center;
  flex-shrink: 0;
  forced-color-adjust: none;
  transform: rotate(45deg);
}